<p id="notice"><%= notice %></p>


<div class="six columns centered">

  <h1>Climbs</h1>

  <input type="text" name="search" placeholder="Search..">

  <div id="all-climbs">
    <%= render @climbs %>
  </div>

  <div id="infinite-scrolling">
    <%= will_paginate @climbs %>
  </div>

</div>


<script type='text/javascript'>
  var map = L.mapbox.map('map', 'examples.map-y7l23tes').setView([37.9, -77], 5);
</script>
