<head>
  <% title("Home") %>
</head>

<div class="banner-quote">
  <h1 class="f4">The Mazamas organize more than 300 climbs across the Pacific Northwest every year.</h1>
  <h1 class="f4">Climb with us.</h1>
  <div class="down-arrow">
    <h5 class="f2">LEARN MORE</h5>
    <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
  </div>

</div>

<div class='cover-container'>
  <img src="/assets/eldorado.png" class='banner-image'/>
</div>
