<head>
  <% title("Home") %>
</head>

<div class="banner-quote">
  <h1 class="f4">The Mazamas organize more than 300 climbs across the Pacific Northwest every year.</h1>
  <h1 class="f4">Climb with us.</h1>
  <div class="down-arrow">
    <h5 class="f2">LEARN MORE</h5>
    <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
  </div>
</div>

<div class='cover-container'>
  <%= image_tag("eldorado.png") %>
</div>

<section class="tout-container ten columns offset-by-one">

  <div class="tout four columns">
    <div class="tout-image-container">
      <%= image_tag("fourth-class.jpg") %>
    </div>
    <h4 class="f4">Apply For a Climb</h4>
    <p class="f1">
      Applying for a climb is easy. Create your climber profile, search through the climb schedule, and click apply. Mazamas climbs aren't guided trips; climbers are expected to bring their skills and experience. Climb application fees are $20 for members and $30 for non-members, and are refundable if you aren't accepted on a climb.
    </p>
  </div>

  <div class="tout four columns">
    <div class="tout-image-container">
      <%= image_tag("fourth-class.jpg", class: "logo") %>
    </div>
    <h4 class="f4">About the Mazamas</h4>
    <p class="f1">
      The Mazamas is a nonprofit mountaineering education organization in Portland, Oregon. We offer over 300 climbs and 700 hikes across the Pacific Northwest every year. Our classes and activities are open to both members and nonmembers. The Mazamas welcomes people of all ages, races, genders, and experience-levels.
    </p>
  </div>

  <div class="tout four columns">
    <div class="tout-image-container">
      <%= image_tag("team-on-middle-sister.jpg") %>
    </div>
    <h4 class="f4">Become a Member</h4>
    <p class="f1">
      The Mazamas is driven my its members, who contribute over 200,000 hours to the organization every year. To become a member, you'll need to have summitted one glaciated peak. Membership dues are just $60 per year, and Mazamas membership comes with a host of benefits including discounts with outfitting companies, and climbing insurance.
    </p>
  </div>
</section>

<div class="extra-space"></div>
