@import './normalize.css';
@import './skeleton.css';

/**********************************************************/
/*           PLACE HOLDER STYLING FOR HOME PAGE           */
/**********************************************************/

html {
  font: normal 500 1vw/1 'Helvetica', sans-serif;
}

body {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #808080;
}

nav {
  z-index: 1000;
  width: 100%;
  position: fixed;
  background-color: #FFF;
  opacity: .9;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 10vw;
}

nav h1 {
  font: normal normal 2em/1 'Helvetica', sans-serif;
  margin: 2vw 0 2.5vw 2.25vw;
  height: 1.75vw;
  display: inline-block;
  width: 23vw;
}

h3 {
  margin: 3vw 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.nav-padding {
  clear: both;
  padding: 0;
  height: 12vw;
}

ul {
  padding: 0;
  list-style: none;
}

ul.navlinks {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  height: 1rem;
}

ul.navlinks li {
  display: inline-block;
  margin: 0 2vw;
  font-size: .73em;
  letter-spacing: .2em;
}


/**********************************************************/
/*                   SEARCH BAR STYLES                    */
/**********************************************************/

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

/**********************************************************/
/*                      TABLE STYLES                      */
/**********************************************************/

.climb-overview {
  width: 100%;
  border: 1px solid red;
  margin: 5% 0;
}

.climb-overview h2,
.climb-overview h3,
.climb-overview p {
  text-transform: capitalize;
  text-align: left;
}

.climb-overview h2 {
  font: normal normal 1em/1 'Helvetica', sans-serif;
}

.climb-overview h3 {
  font: normal normal .75em/1 'Helvetica', sans-serif;
}

.climb-overview p {
  display: inline-block;
}


.six.columns.centered {
  margin-left: 26%;
  /*margin*/
}
