/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import url('https://fonts.googleapis.com/css?family=Assistant|Droid+Serif|Lora|News+Cycle|Quicksand');

/*font-family: 'Quicksand', sans-serif;*/
/*font-family: 'News Cycle', sans-serif;*/
/*font-family: 'Assistant', sans-serif;*/
/*font-family: 'Droid Serif', serif;*/
/*font-family: 'Lora', serif;*/



/**********************************************************/
/*                        FONTS                           */
/**********************************************************/
.f1 {font-family: 'Quicksand',    sans-serif}
.f2 {font-family: 'Assistant',    sans-serif}
.f3 {font-family: 'Droid Serif',  serif}
.f4 {font-family: 'Lora',         serif}



/**********************************************************/
/*                        GENERAL                         */
/**********************************************************/

body {
  margin: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.extra-space {
  display: inline-block;
  width: 100%;
  height: 10rem;
  position: relative;
}

#notice {
  text-align: center;
  color: #008000;
  margin: 3rem 0;
}

/**********************************************************/
/*                       NAVIGATION                       */
/**********************************************************/

nav {
  display: flex;
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  border-bottom: 1.5px solid #FFF;
  padding: 0;
  height: 8.2rem;
  top: 0;
}

nav h1 {
  display: inline-block;
  padding: 2.1rem 3rem 2.1rem 3rem;
  float: left;
  flex-basis: auto;
}

.navlinks,
.mobile-menu {
  display: flex;
  margin: 0;
  flex-grow: 3;
}

.navlinks div,
.mobile-menu div {
  flex-basis: 20%;
}

.navlinks div:nth-of-type(2) {
  flex-grow: 2
}

.navlinks div a,
.mobile-menu div a {
  display: inline-block;
  letter-spacing: .2em;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  padding: 2.56rem 0;
  margin: 0;
  text-align: center;
  /*-webkit-align-self: flex-start;
  align-self: flex-start;*/
}

.navlinks div:hover,
.mobile-menu div:hover {
  background-color: rgba(255, 255, 255, .9);
  color: #000;
}


/**********************************************************/
/*                      NAV DROPDOWN                      */
/**********************************************************/

.dropdown a {
  position: relative;
}
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: .5rem;
    background-color: #e7e7e7;
    border: 1px solid #000;
    width: 100%;
}

/* Links inside the dropdown */
.navlinks .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 1)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/**********************************************************/
/*                        SPACING                         */
/**********************************************************/

.nav-spacing {
  position: fixed;
  top: 0;
  left: 0;
  height: 8.25rem;
  width: 100%;
}

.general-spacing {
  height: 10rem;
}

.half-spacing {
  height: 5rem;
}


/**********************************************************/
/*                   MOBILE NAVIGATION                    */
/**********************************************************/

.mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 8rem;
}

@media (max-width: 550px) {
  nav {
    display: block;
  }

  nav h1 {
    margin-top: .4rem;
    padding-right: 0;
  }
  .navlinks {
    display: none;
  }
  .expand {
    display: block;
    position: fixed;
    top: 8.25rem;
    right: 0;
    display: block;
    background-color: #FFFFFF;
    width: auto;
  }
  .expand div h5 a{
    text-align: left;
    font-size: 1.5rem;
    height: 3rem;
    padding: 1rem 2rem .25rem 2rem;
  }
}

@media (min-width: 550px) {
  .mobile-menu {
    display: none;
  }
}

/**********************************************************/
/*                        TOUTS                           */
/**********************************************************/

.tout-container,
.leader-profile-container {
  position: absolute;
  text-align: center;
}

.tout-container {
  top: 125vh;
}

@media (orientation: portrait) {
  .tout-container {
    top: 115vh;
  }
}

.tout-container p,
.leader-profile-container p {
  width: 90%;
  margin-left: 5%;
  margin-top: 2rem;
  letter-spacing: .1rem;
}

.tout-container div.columns,
.leader-profile-container div.columns {
  margin-bottom: 10rem;
}

.tout-container div:nth-of-type(3n+2),
.tout-container div:nth-of-type(3n+3),
.leader-profile-container div.tout.four.columns:nth-of-type(3n+3),
.leader-profile-container div.tout.four.columns:nth-of-type(3n+4) {
  margin-left: 4%;
}

.tout-image-container {
  width: 100%;
  height: 20rem;
  position: relative;
  margin-bottom: 0;
}

.tout-container img,
.leader-profile-container img {
  position: absolute;
  bottom: 2rem;
  left: 0;
  border-radius: .5rem;
}

.tout-container img {
  width: 44%;
  margin-left: 28%;
  margin-bottom: 3rem;
}

.leader-profile-container img {
  width: 56%;
  margin: 2rem 22% 1rem;
}

.tout-container img.logo {
  width: 70%;
  margin-left: 15%;
  bottom: 0;
}


@media (max-width: 550px) {
  .tout-container {
    display: flex;
    flex-direction: column;
  }

  .tout-container div:nth-of-type(3n+2),
  .tout-container div:nth-of-type(3n+3) {
    margin: 0;
  }

  .tout-container div:nth-of-type(2) {
    order: -1;
  }

  .tout-container tout {
    display: block;
    width: 100vw;
    /*padding: 5%;*/
    margin-left: 0;
  }

  .tout-image-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    padding-top: 10vh;
  }

  .tout-container div:nth-of-type(1) .tout-image-container,
  .tout-container div:nth-of-type(3) .tout-image-container {
    display: none;
  }

  .tout-container div:nth-of-type(1) h4 {
    margin-top: 15vh;
  }

  .tout p {
    font-size: 90%;
  }
}

/**********************************************************/
/*                   SEARCH BAR STYLES                    */
/**********************************************************/

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/**********************************************************/
/*                      TABLE STYLES                      */
/**********************************************************/

.climb-overview {
  width: 100%;
  border: 1px solid red;
  margin: 5% 0;
}

.climb-overview h2,
.climb-overview h3,
.climb-overview p {
  text-transform: capitalize;
  text-align: left;
}

.climb-overview h2 {
  font: normal normal 1em/1 'Helvetica', sans-serif;
}

.climb-overview h3 {
  font: normal normal .75em/1 'Helvetica', sans-serif;
}

.climb-overview p {
  display: inline-block;
}


/**********************************************************/
/*                         MAPS                           */
/**********************************************************/

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/**********************************************************/
/*             MOUNTAIN DESCRIPTION OVERLAY               */
/**********************************************************/

.all-but-header {
  display: block;
  position: absolute;
  width: 50%;
  height: calc(100vh - 8.25rem);
  top: 8.25rem;
  right: 0;
}

.mountain-description-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 80%;
  top: 10%;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
  padding: 1.5rem;
}

.mountain-description-overlay a {
  color: rgb(20, 128, 138)
}

.mountain-stats {
  display: block;
  width: 100%;
}

.mountain-text {
  padding-bottom: 2.25rem;
}

.mountain-data {
  width: 50%;
  margin: 5px 0;
}
.mountain-data td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.overflow-scroll {
  display: block;
  height: 50%;
  overflow: scroll;
}

@media (orientation: portrait) {
  .all-but-header {
    width: 100vw;
    margin-top: calc((100vh - 8.25rem) / 2);
  }
  .mountain-description-overlay {
    top: 0;
    height: auto;
  }

  .overflow-scroll {
    overflow: visible;
  }

  .mountain-data {
    width: 100%;
  }
}

@media (min-width: 550px) and (orientation: portrait) {
  .all-but-header section.columns {
      margin-left: 4.333333333333%;
  }
}




/**********************************************************/
/*               IMAGE COVER BANNNER / QUOTE              */
/**********************************************************/

.banner-quote {
  z-index: 0;
  display: block;
  position: absolute;
  width: 42vw;
  text-align: center;
  margin: 0 29vw 0;
  bottom: 10vh;
  color: #FFF;
  letter-spacing: .2rem;
  text-shadow: 1px 1px 2px #000;
}

.banner-quote h1 {
  margin-bottom: 4rem;
  line-height: 150%;
}

.banner-quote div {
  position: relative;
  letter-spacing: .3rem;
  top: 4rem;
}

.cover-container {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 15vh;
}

/* Banner images should be 1400px by 800px */
.banner-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.banner-image.dont-move {
  position: fixed
}

@media (orientation: portrait) and (max-width: 550px)  {
  .banner-quote {
    position: absolute;
    width: 84vw;
    text-align: center;
    margin: 0 8vw 0;
    color: #FFF;
    letter-spacing: .1rem;
    line-height: 5rem;
  }

  .banner-quote h1 {
    font-size: 2rem;
  }
  .banner-quote h5 {
    font-size: 1.5rem;
  }
}

/**********************************************************/
/*                       BUTTONS                          */
/**********************************************************/

input {
  width: 10vw;
  height: 3rem;
}

/* STRIPE */
button.stripe-button-el {
  background-image: none;
  border-radius: 0;
}

button.stripe-button-el span {
  background-image: none;
  border-radius: 0;
  background: transparent;
  color: #000;
  font-family: 'Assistant',    sans-serif;
  font-weight: normal;
}

/**********************************************************/
/*                     TABLES / COLUMNS                   */
/**********************************************************/

/* Specific to the Mountain index page */
tr h5 a:hover {
  color: #717171;
}

table,
tr {
  width: 100%
}

.mountain-list td:first-of-type {
  width: 65%;
}

.mountain-list td:nth-of-type(2n+2) {
  width: 35%;
}

/* Specific to Mountain show page */
.mountain-details tr td:nth-child(1) { width: 46%; }
.mountain-details tr th:nth-child(1) { width: 46%; }
.mountain-details tr td:nth-child(2) { width: 18%; }
.mountain-details tr th:nth-child(2) { width: 18%; }
.mountain-details tr td:nth-child(3) { width: 18%; }
.mountain-details tr th:nth-child(3) { width: 18%; }
.mountain-details tr td:nth-child(4) { width: 18%; }
.mountain-details th th:nth-child(4) { width: 18%; }

.overflow-scroll table:first-child {
  border-top: 1px solid transparent;
}

.climb-class-circle {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-right: .5rem;
}

.climb-class-circle p {
  padding-top: .1rem;
}

.A-color { background-color: #F2671F; border: 2px solid #faccb3}
.B-color { background-color: #C91B26; border: 2px solid #db6d76}
.C-color { background-color: #9C0F5F; border: 2px solid #c54850}
.D-color { background-color: #60047A; border: 2px solid #9549aa}
.E-color { background-color: #260A47; border: 2px solid #54169d}


/**********************************************************/
/*                       SEARCH BAR                       */
/**********************************************************/

input:nth-of-type(2n+2) {
  border-radius: 5rem;
  width: 100%;
  height: 5rem;
  padding: 2rem;
  margin: 16rem auto 0;
  display: block;
}

.search-button {
  visibility: hidden;
}


/**********************************************************/
/*                FORMS (FIXED ON IMAGE)                  */
/**********************************************************/
.full-page-form {
  position: absolute;
}

.form-on-image {
  top: 20rem;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000;
}

.full-page-form h1 {
  text-align: center;
  margin-bottom: 5rem;
}

.full-page-form div {
  display: flex;
  padding-top: 2rem;
}

.full-page-form div.field h5,
.form-on-image div.field h5 {
  letter-spacing: .2rem;
  padding-right: 2rem;
  line-height: 2;
}

.full-page-form div.field h5 {
  width: 22rem;
}

.form-on-image div.field h5 {
  width: 13rem;
  text-align: right;
}

.full-page-form label {
  text-transform: uppercase;
}

.full-page-form input,
.full-page-form textarea {
  background-color: rgba(255, 255, 255, .8);
  color: #000000;
  flex-grow: 100;
}

.remember label {
  flex-grow: 100;
}

.full-page-form .actions input {
  background-color: #3343A1;
  color: white;
  border: 2px #5868ca solid;
  margin-top: 2rem;
}

.full-page-form .actions input:hover {
  background-color: #3c4fbe;
  border: 2px #5868ca solid;
}

.full-page-form textarea.paragraph {
  height: 12rem;
}

input#user_remember_me {
  width: 2rem;
  height: 2rem;
  margin: 0.25rem 1rem 0 15rem;
  flex-grow: 1;
  padding: 0;
}

#remember h5 {
  text-align: left;
  width: 25rem;
  line-height: 1;
}

@media (orientation: portrait) {
  .ffull-page-form {
    width: 60%;
    margin-left: 20%;
  }
}

@media (orientation: portrait) and (max-width: 550px){
  .full-page-form {
    width: 86%;
    margin-left: 7%;
    top: 14rem;
  }

  .full-page-form div {
    display: block
  }

  .full-page-form div.field h5 {
    text-align: left;
  }

  .full-page-form input,
  .full-page-form .actions input {
    width: 100%;
    margin-left: 0;
  }

  input#user_remember_me {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: .25rem 1rem 0 0rem;
    padding: 0;
    float: left;
  }
}

/**********************************************************/
/*                    PROFILE TABLES                      */
/**********************************************************/

.profile-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid #E1E1E1;
}

.profile-table div {
  width: 100%;
  display: inline-flex;
  border-bottom: 1px solid #E1E1E1;
  position: relative;
  padding: 1rem 0;
}

.profile-table div h5:first-of-type {
  display: inline-block;
  letter-spacing: .2rem;
  flex-basis: 22rem;
  margin-right: 3rem;
}

.profile-table div h5:last-of-type {
  display: inline-block;
  flex-grow: 1;
  max-width: 64%;
}

.profile-table .three-columns div h5:first-of-type,
.profile-table .three-columns div h5:nth-of-type(2) {
  display: inline-block;
  flex-basis: 9.5rem;
  margin-right: 3rem;

}


.profile div.profile-header form.button_to,
.profile section.profile-table div form.button_to,
form.edit_user {
  width: 25%;
  display: inline-block;
}

.profile div.profile-header form.button_to input.profile-button,
.profile section.profile-table div form.button_to input.profile-button,
button.stripe-button-el {
  border-radius: 0;
  border: 1px solid black;
  color: black;
  width: 100%;
  height: 38px;
  font-size: 13px;
  line-height: 13px;
}

.profile div.profile-header form.button_to input.profile-button:hover,
.profile section.profile-table div form.button_to input.profile-button:hover,
button.stripe-button-el:hover {
  background-color: #e7e7e7;
}

@media (orientation: portrait) {
  .profile.six {
    width: 90%;
    margin: 0 5%;
  }
  .profile-table div {
    display: block;
  }

  .profile-table div h5:first-of-type,
  .profile-table div h5:last-of-type {
    display: block;
    width: 100%;
  }
  .profile div.profile-header form.button_to {
    width: 38%;
    right: 0;
  }
  .profile section.profile-table div form.button_to {
    width: 100%;
    margin-top: 1rem;
  }
}


/**********************************************************/
/*                   MEMBERSHIP STATUS                    */
/**********************************************************/
.profile-table div h5.member-status::before {
  position: relative;
  display: inline-block;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
  top: .25rem;
  margin-right: .7rem;
}

.member-status.active::before { background-color: #008000; border: 2px solid #72b964; }
.active { color: #008000; }

.member-status.lapsed::before { background-color: #9d0000; border: 2px solid #d80012; }
.lapsed { color: #9d0000; }

.member-status.nonmember::before { background-color: #3343A1; border: 2px solid #5868ca; }
.nonmember { color: #3343A1; }


/**********************************************************/
/*                   CLIMB INDEX PAGE                     */
/**********************************************************/
.one-climb {
  margin-bottom: 5rem;
}

.always-visible {
  display: flex;
  border: 2px solid #FFFFFF;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);

}

.hidden-until {
  display: none;
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  padding: 2rem;
  border: 2px solid #FFFFFF;
}

.climb-class-circle-large {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.climb-class-circle-large h5 {
  padding-top: .3rem;
}
.climb-mountain-route {
  display: inline-block;
  flex-grow: 5;
}

.climb-mountain-route h4,
.climb-mountain-route h5 {
  line-height: 1.1;
}

.climb-mountain-route p {
  padding: .1rem 0 0 0;
  margin: 0;
}

.status-toggle {
  display: inline-block;
  width: auto;
  align-self: flex-end;
  position: relative;
  width: 8%;
  text-align: center;
}

.toggle {
  display: inline-block;
  height: 100%;
}

.static-map-container {
  display: inline-block;
  position: relative;
  float: left;
  width: calc(50% - 1rem);
  margin-right: 1rem;
  height: 54rem;
  overflow: hidden;
}

.static-map {
  position: absolute;
  bottom: 0;
}

@media (orientation: portrait) and (max-width: 800px) {
  .static-map-container {
    width: 100%;
    margin: 1rem 0;
  }
}

.static-map-container img {
  width: 100%;
}

.details {
  display: inline-block;
  width: calc(50% - 1rem);
  margin-left: 1rem;
}

.details .mountain-data {
  width: 100%;
}

.leader {
  display: block;
  width: 100%;
}

div.details table.mountain-data tbody tr td:first-of-type {
  width: 15rem;
  padding: 5px 5px;
}

div.details table.mountain-data tbody tr td:last-of-type {
  padding: 5px 5px;
}


@media (orientation: portrait) {
  .details {
    width: 100%;
    margin: 1rem 0;
  }
}


.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el,
.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el:active {
  background-color: #3343A1;
  border: 2px #5868ca solid;
  border-radius: 0;
  width: 100%;
  height: 38px;
}


.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el span,
.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el span:active {
  color: white;
  font-size: 13px;
  line-height: 28px;
  box-shadow: none;
  border: transparent;
  background-color: transparent;
  font-weight: bold;
}

.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el:hover,
.one-climb div.hidden-until div.details form.edit_climb button.stripe-button-el span:hover {
  background-color: #3c4fbe;
}

.description {
  display: block;
  width: 100%;
}
