<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <h1>Mazamas Climbs</h1>
    <ul class="navlinks">
      <li><a href="/">About</a></li>
      <li><a href="/">Climb</a></li>
      <li><a href="/">Hike</a></li>
      <li><a href="/">Buy Something</a></li>
      <li><a href="/login">Sign In</a></li>
      <li><a href="/register">Sign Up</a></li>
    </ul>
  </nav>
  <div class="nav-padding"></div>
<%= yield %>

</body>
</html>
